.section{
    padding-top: 40px;

    &__header{
        background: #337ab7;
        padding: 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        position:  relative;
        clear: right;

    }
    &__selected-source, &__button-close{
        font-size: 11px; 
        color: #337ab7; 
        font-weight: bolder;
        float: right;
        text-transform: capitalize;
        text-decoration: underline;
        margin-bottom: 10px;
        font-weight: 900;
    }

    &__button-done{
        color: #fff;
    }

    &__nav{
        padding: 0;
        background: #e3e3e3;
        text-align: left;
        border: solid 1px #eee;
    }
    &__nav-list{
        display: inline-block;
    }

    &__nav-list.active{
        background: #fff;
        font-weight: 900;
    }

    &__nav-item{
        display: block;
        padding: 10px;
        color: #4e4e4f;
        font-size: 11px;

        &:hover, &:focus{
            text-decoration: none;
        }
    }
}