.section{
    padding-top: 40px;

    &__header{
        background: #337ab7;
        padding: 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        position:  relative;

    }
    &__selected-source, &__button-close{
        font-size: 11px; 
        color: #fff; 
        font-weight: bolder;
        float: right;
        text-transform: capitalize;
        text-decoration: underline;
    }
}