<!--The whole content below can be removed with the new code.-->

<div class="container-fluid">
  <div class="row">
   
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2 leftpane">
          <ul [dragula]='"first-bag"' class="leftpane__items">
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 1</a></li>
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 2</a></li>
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 3</a></li>
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 4</a></li>
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 5</a></li>
            <li class="leftpane__item"><a class="leftpane__item-link" href="">Item 6</a></li>
          </ul>
        </div>
        <div class="col-md-10 area">

          <div class="phone-area iphone-5" [dragula]='"first-bag"'>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"first-bag"'>
      <div>You can move these elements between these two containers</div>
      <div>Moving them anywhere else isn't quite possible</div>
      <div>There's also the possibility of moving elements around in the same container, changing their position</div>
    </div>
    <div class='container' [dragula]='"first-bag"'>
      <div>This is the default use case. You only need to specify the containers you want to use</div>
      <div>More interactive use cases lie ahead</div>
      <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
    </div>
  </div>
</div>-->