<title>Race Enterprise: App generation portal</title>

<div class="content">
    <div class="row">
      <div class="col-md-12 content__header">
          <div class="col-md-6">
              <h1 class="content__header-text">App Settings</h1>
          </div>
          <div class="col-md-6">
            <button type="button" class="button pull-right" data-toggle="modal" data-target="#createAppModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;App</button>
          </div>
    </div>
    </div>

    <table class="table table-striped table-responsive table-sortable content__table">
      <thead>
        <tr>
          <th class="pointer" (click)="sort('ProductName')">Product Name&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('Platform')">Platform&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('HostName')">Host Name&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('Port')">Port&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('ApplicationId')">Application Id&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('SecurityType')">Security Type&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
          <th class="pointer" (click)="sort('Environment')">Environment&nbsp;<span [ngClass]="isDesc === true ? 'icon-descending' : 'icon-ascending'"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appsetting of appsettings |  orderBy: {property: column, direction: direction}">
            <td>{{appsetting.ProductName}} </td> <td>{{appsetting.Platform}}</td> <td>{{appsetting.HostName}}</td> <td>{{appsetting.Port}}</td> <td>{{appsetting.ApplicationId}}</td> <td>{{appsetting.SecurityType}}</td> <td>{{appsetting.Environment}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="createAppModal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" routerLink="/app-generation-portal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title bold">NEW SETTING</h4>
      </div>
      <div class="modal-body">
      <form #appSettingsForm="ngForm" name="appSettingsForm" (ngSubmit)="onSubmit(appSettingsForm)">
      <div class="tabs-wrap">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
              <a href="#productlist" id="tabZero" aria-controls="productlist" role="tab" data-toggle="tab" aria-expanded="true">Products</a>
            </li>
        <li>
          <a href="#connectionsettings" id="tabOne" aria-controls="connectionsettings" role="tab" data-toggle="tab" aria-expanded="true">Connection Settings</a>
        </li>
        <li>
          <a href="#branding"  id="tabTwo"  aria-controls="branding" role="tab" data-toggle="tab" aria-expanded="false">Branding</a>
        </li>
        <li>
          <a href="#othersettings"  id="tabThree" aria-controls="othersettings" role="tab" data-toggle="tab" aria-expanded="false">Other Settings</a>
        </li>
      </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productlist">
            <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label for="TimeOut">Product</label>
                          </div>
                          <div class="col-md-8">
                              <select #StoreName name="StoreName" [ngModel]="''"  class="new-todo" class="form-control">
                               <option value="">Select Product</option>
                               <option value="RACE_SDK">RACE_SDK</option>
                               <option value="mInventory">mInventory</option>
                               <option value="mWorkOrder">mWorkOrder</option>
                               <option value="mWorkList">mWorkList</option>
                              </select>
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                        <div class="form-group">
                        <div class="row">
                         <div class="col-md-6">                        
                           <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-md-6" align="left">
                            <a class="btn btn-nonprimary Next" (click)="clickHighlighted('tabOne')">Next</a>
                            </div>
                        </div>
                      </div>
                    </div>
            </div>
      <div role="tabpanel" class="tab-pane" id="connectionsettings">
        <div class="modal-scroll">
        <div class="form-group">            
              <div class="row modalControl_centercontent">
                            <div class="col-md-4">
                               <label for="email" class="modalControl_modalControlLabel">App Name</label>
                            </div>
                            <div class="col-md-8">
                               <input type="text" #AppName class="form-control modalControl_inputtext" name="AppName" [ngModel]="AppName.value"  placeholder="App Name" autofocus="">
                            </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="Platform">Platform</label>
                        </div>
                        <div class="col-md-8">
                        <select class="form-control" #Platform name="Platform" [ngModel]="''">
                          <option value="">Select Platform</option>
                          <option value="IOS">IOS</option>
                          <option value="Andorid">Android</option>
                        </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="HostName">Host Name</label>
                        </div>
                        <div class="col-md-8">
                          <input  type="text"  #HostName name="HostName" [ngModel]="HostName.value" class="new-todo" class="form-control" placeholder="Host Name">
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="portnumber">Port Number</label>
                        </div>
                        <div class="col-md-8">
                          <input  type="text"  #Port name="Port" [ngModel]="Port.value" class="new-todo" class="form-control" placeholder="Port Number">
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="applicationid">Application ID</label>
                        </div>
                        <div class="col-md-8">
                          <input  type="text"  #ApplicationId name="ApplicationId" [ngModel]="ApplicationId.value" class="new-todo" class="form-control" placeholder="Application ID">
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="SecurityType">SecurityType</label>
                        </div>
                        <div class="col-md-8">
                          <select class="form-control" #SecurityType name="SecurityType" [ngModel]="''">
                            <option value="">Select Security Type</option>
                            <option value="saml">SAML</option>
                            <option value="basic">BASIC</option>
                            <option value="adsso">ADSSO</option>
                            <option value="x509">X509</option>
                          </select>
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                            <label for="Environment">Environment</label>
                          </div>
                          <div class="col-md-8">
                            <select class="form-control" #Environment name="Environment" [ngModel]="''">
                            <option value="">Select Environment</option>
                            <option value="Development">Development</option>
                            <option value="Quality">Quality</option>
                            <option value="Production">Production</option>
                            </select>
                          </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                            <label for="Https">Https</label>
                          </div>
                          <div class="col-md-8">
                              <label class="switch">
                                  <input class="switch-input" type="checkbox" #Https name="Https" [value]="Https.value" [ngModel]="Https.value"   placeholder="Https">
                                  <span class="switch-label" data-on="On" data-off="Off"></span> 
                                  <span class="switch-handle"></span> 
                                </label>
                              </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="SampleData">Sample Data</label>
                        </div>
                        <div class="col-md-8">
                            <label class="switch">
                                <input class="switch-input" type="checkbox" #SampleData name="SampleData" [value]="SampleData.value" [ngModel]="SampleData.value"  placeholder="Sample Data">
                                <span class="switch-label" data-on="On" data-off="Off"></span> 
                                <span class="switch-handle"></span> 
                              </label>
                        </div>
                      </div>
                      </div>
        </div>
                      <div class="modal-footer">
                      <div class="form-group">
                      <div class="row">
                      <div class="col-md-6">
                      <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                      </div>
                      <div class="col-md-6" align="left">
                      <a class="btn btn-nonprimary Next" (click)="clickHighlighted('tabTwo')">Next</a>
                      </div>
                      </div>
                      </div>
                      </div>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="branding">
          <div class="modal-scroll">
      <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                          <label for="Logo">Select Logo</label><br/>
                      </div>
                      <div class="col-md-8">
                      <input #Logo name="Logo" [ngModel]="" type="file"  placeholder="Browse" (change)="imageUploadLogo($event)" accept="image/png"> 
                      </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="row">
                    <div class="col-md-4">
                      <label for="App Icon">App Icon</label><br/>
                    </div>
                    <div class="col-md-8">  
                      <input #AppIcon name="AppIcon" [ngModel]="" type="file" placeholder="Browse" (change)="imageUploadAppIcon($event)"> 
                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                          <label for="splashscreen">Splash Screen</label><br/>
                        </div>
                        <div class="col-md-8">
                          <input  type="file" #SplashScreen name="SplashScreen" [ngModel]="" placeholder="Browse" (change)="imageUploadSplashScreen($event)"> 
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                            <label for="AppBackground">Splash Screen</label><br/>
                        </div>
                        <div class="col-md-8">
                            <input  type="file" #AppBackground name="AppBackground" [ngModel]="" placeholder="Browse" (change)="imageUploadBackGround($event)"> 
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                            <label for="theme">Theme</label>
                        </div>
                        <div class="col-md-8">
                          <div class="tabs-wrap">
                            <div class="float: left">
                         <input type="color" value="#0B72CA"#Theme name="Theme1" [ngModel]="Theme1.value" style="width: 30px; padding: 0; border: 0; border-radius: 0; box-shadow: none;"
                         style="width: 60px;display: inline-block; color:black;text-align:center; padding: 0;background-color:#e0e0e0 ;border: 1; border-radius: 1; box-shadow: none;">{{Theme1.value}}>
                         <input type="color" value="#aaaaaa"#Theme name="Theme2" [ngModel]="Theme2.value" style="width: 30px; padding: 0; border: 0; border-radius: 0; box-shadow: none;"
                         style="width: 60px;display: inline-block; color:black;text-align:center; padding: 0;background-color:#e0e0e0 ;border: 1; border-radius: 1; box-shadow: none;">{{Theme2.value}}>
                         <input type="color" value="#00ff00"#Theme name="Theme3" [ngModel]="Theme3.value" style="width: 30px; padding: 0; border: 0; border-radius: 0; box-shadow: none;"
                         style="width: 60px;display: inline-block; color:black;text-align:center; padding: 0;background-color:#e0e0e0 ;border: 1; border-radius: 1; box-shadow: none;">{{Theme3.value}}>

                        </div>
                        </div>
                      </div>
                      </div>
                    <div class="row">
                      
                    </div>
                    </div>
                    <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                        <label for="ShowDemoButton">Show Demo Button</label>
                    </div>
                    <div class="col-md-8">
                        <label class="switch">
                            <input class="switch-input" type="checkbox" #ShowDemoButton [value]="ShowDemoButton.value" name="ShowDemoButton" [ngModel]="ShowDemoButton.value"  placeholder="Store Demo Button">
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                          </label>
                        </div>
                  </div>
                  </div>
          </div>
                  <div class="modal-footer">
                  <div class="form-group">
                  <div class="row">
                  <div class="col-md-6">
                  <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col-md-6" align="left">
                  <a class="btn btn-nonprimary Next" (click)="clickHighlighted('tabThree')">Next</a>
                  </div>
                  </div>
                  </div>
                  </div>
      </div>
    
      <div role="tabpanel" class="tab-pane" id="othersettings">
          <div class="modal-scroll">
      <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="TimeOut">Time Duration</label>
                    </div>
                    <div class="col-md-8">
                        <select #TimeOut name="TimeOut" [ngModel]="''"  class="new-todo" class="form-control">
                         <option value="">Select TimeOut</option>
                         <option value="20">D20</option>
                         <option value="50">D50</option>
                        </select>
                    </div>
                  </div>
                  </div>
                  <div class="form-group">
                  <div class="row">
                   <div class="col-md-4">
                     <label for="languages">Languages</label>
                   </div>
                   <div class="col-md-8">
                      <select #Languages multiple class="multiselect" name="Languages" [ngModel]="''">
                        <option value="">Select Languages</option>
                        <option value="0">English</option>
                        <option value="1">German</option>
                        <option value="2">French</option>
                        <option value="3">Spanish</option>
                        <option value="4">Portuguese</option>
                        <option value="5">Chinese</option>
                      </select>
                   </div>
                  </div>
                  </div>
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                        <label for="AppPassCode">App Pass Code</label>
                    </div>
                    <div class="col-md-8">
                        <label class="switch">
                            <input class="switch-input" type="checkbox" #AppPassCode name="AppPassCode" [value]="AppPassCode.value" [ngModel]="AppPassCode.value" placeholder="App Pass Code">
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                          </label>
                    </div>
                  </div>
                  </div>
                  <div class="form-group">
                  <div class="row">
                      <div class="col-md-4">
                          <label for="TouchId">Touch ID</label>
                      </div>
                      <div class="col-md-8">
                          <label class="switch">
                              <input class="switch-input" type="checkbox" #TouchId name="TouchId" [value]="TouchId.value" [ngModel]="TouchId.value"  placeholder="Touch ID">
                              <span class="switch-label" data-on="On" data-off="Off"></span> 
                              <span class="switch-handle"></span> 
                            </label>
                        
                      </div>
                  </div>
                  </div>
                  <div class="form-group">
                  <div class="row">
                      <div class="col-md-4">
                        <label for="Website URL">Website URL</label>
                      </div>
                      <div class="col-md-8">
                      <table>
                      <thead>
                          <tr>
                          <th>#</th>
                              <th>URL</th>
                              <th>Store Name</th>
                          </tr>
                      </thead>
                      <tbody>
                      <ng-container #whiteListUrls *ngFor="let whiteListUrl of whiteListUrls; let rowIndex=index">
                          <tr>
                          <td>{{rowIndex+1}}</td>
                              <td><input  class="form-control" id='url{{rowIndex}}' name='url{{rowIndex}}' class="website-input" [(ngModel)]="whiteListUrl.url" required/>
                             </td>
                              <td><input  class="form-control" id='storename{{rowIndex}}' name='storename{{rowIndex}}'  class="website-input" [(ngModel)]="whiteListUrl.storename" required/>
                              </td>
                              
                          </tr>
                          <tr>
                          
                          </tr>
                          </ng-container>
                          <tr>
                          <td></td>
                          <td></td>
                          <td>
                          <button class="button-adddel pull-right"  (click)="remove(); $event.preventDefault()" ><span class="glyphicon glyphicon-minus"></span></button>
                          <button class="button-adddel pull-right" (click)="addNew(); $event.preventDefault()"><span class="glyphicon glyphicon-plus"></span></button>
                          </td>
                          </tr>
                      </tbody>
                  </table>
                      </div>
                  </div>
                  </div>
          </div>
                  <div class="modal-footer">
                  <div class="form-group">
                  <div class="row">
                   <div class="col-md-6">                        
                     <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col-md-6" align="left">
                    <button type="submit"  class="btn btn-nonprimary Next">Submit</button>
                  </div>
                  </div>
                </div>
                  </div>
      </div>
    </div>
    
    </div>
          </form>
      </div>
      </div>
  </div>
  </div>
