.content{

    &__header{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__header-text{
        font-size: 24px;
        margin: 0;
    }

    &__table thead{
        background: rgb(147, 161, 172);
        color: #fff;
        font-size: 13px;
    }

    &__table tbody{
        color: rgb(96, 96, 96);
        font-size: 12px;
    }

    &__table tbody td{
        padding: 15px 10px;
    }
}
label{
    
      font-size: 11px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      width:250px;
      color: #cccccc
}
input[type="text"],select{
    padding: 6px 6px 6px 6px;
    border: solid 1px #dcdcdc;
    border-radius: 15px;
    height: 33px;
    width:275px; 
    
}
input[type="color"]{
    height: 30px;
    width:275px; 
    border: solid 1px #dcdcdc;
    border-radius: 15px;
}
.multiselect{
    padding: 6px 6px 6px 6px;
    border: solid 1px #dcdcdc;
    border-radius: 15px;
    height: 70px;
    width:275px; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #0B72CA;
    font-weight: bold;
    color:#0B72CB;
}
.nav-tabs > li >a{
    color:#787D79;
}
/* remove the "grey" border when hovering the li elements */
.nav-tabs>li>a:hover{
    border: 1px solid transparent;
}

/* remove the "grey" background colour when hovering the li elements */
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.modal-footer
{
    box-shadow: 0px -10px 5px -8px #ccc;
    text-align: center;
}
.modal-footerContent
{
    align-content: center;
}
.modal-header {
    padding-bottom: 5px;
   
    border: 0px; 
}
.tab-content .tab-pane {
    padding: 20px 10px 0 50px;
    
}
.nav-tabs{
    box-shadow: 0 10px 5px -6px #ccc;
}
.modal-body {
    position: relative;
    padding: 2px 20px 0px 20px;
}
.modal-title{
    padding-left: 15px;
}

.website-input{
    height:20px;
    width:125px;
}
.website-head{
    margin:auto;
}
.button-adddel{
    height: 25px;
    width:25px;
}
.pointer{
    cursor: pointer;
}
.btn{
    padding: 6px 40px;
    border-radius: 500px
}
.btn.btn-primary {
        color: #2A9FD9;
        background-color: #ffffff;
   }
.btn.btn-nonprimary{
    color: #ffffff;
    background-color: #0B00FF;
    border-color:#0B00FF;
}
.modal-scroll
{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}