.content{

    &__header{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__header-text{
        font-size: 24px;
        margin: 0;
    }

    &__table thead{
        background: rgb(147, 161, 172);
        color: #fff;
        font-size: 13px;
    }

    &__table tbody{
        color: rgb(96, 96, 96);
        font-size: 12px;
    }

    &__table tbody td{
        padding: 15px 10px;
    }
}

label{
    
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      width:250px;
      color: #aaaaaa
}
label{
    text-align: right;
}
input[type="text"],select{
    padding: 6px 6px 6px 6px;
    border: solid 1px #dcdcdc;
    border-radius: 15px;
    height: 33px;
    width:275px; 
    
}
input[type="color"]{
    height: 30px;
    width:275px; 
    border: solid 1px #dcdcdc;
    border-radius: 15px;
}
.multiselect{
    padding: 6px 6px 6px 6px;
    border: solid 1px #dcdcdc;
    border-radius: 15px;
    height: 70px;
    width:275px; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #0B72CA;
    font-weight: bold;
    color:#0B72CB;
}
.nav-tabs > li >a{
    color:#787D79;
}
/* remove the "grey" border when hovering the li elements */
.nav-tabs>li>a:hover{
    border: 1px solid transparent;
}

/* remove the "grey" background colour when hovering the li elements */
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.modal-footer
{
    box-shadow: 0px -10px 0px -9px #ccc;
    text-align: center;
}
.modal-footerContent
{
    align-content: center;
}
.modal-header {
    padding-bottom: 5px;
   
    border: 0px; 
}
.tab-content .tab-pane {
    padding: 20px 10px 0 50px;
    
}
.nav-tabs{
    box-shadow: 0 10px 0px -9px #ccc;
}
.modal-body {
    position: relative;
    padding: 2px 20px 0px 20px;
}
.modal-title{
    padding-left: 15px;
}

.website-input{
    height:20px;
    width:125px;
}
.website-head{
    margin:auto;
}
.button-adddel{
    height: 25px;
    width:25px;
}
.pointer{
    cursor: pointer;
}
.btn{
    padding: 6px 40px;
    border-radius: 500px
}
.btn.btn-primary {
        color: #2A9FD9;
        background-color: #ffffff;
   }
.btn.btn-nonprimary{
    color: #ffffff;
    background-color: #2A9FD9;
    border-color:#2A9FD9;
}
.modal-scroll
{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}

/*UI Toggle Switch*/
  .switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #2196F3;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/* END of Toggle Switch*/

/* Drop down for language Selection of Options*/ 
.selected{
	border:solid #4CAF50 1px;
	float:left; 
	margin:2px;
	padding:2px 15px;
}
 
.selected a{
	cursor:pointer;
	font-weight:bold;
}
/*End of Drop down for language Selection of Options*/
