<div class="frame">
        <!--<span class="frame__prev glyphicon glyphicon-triangle-right" (click)="gotToNextScreen()">Next</span>-->
        <span class="frame__next glyphicon glyphicon-triangle-left" (click)="gotToPreviousScreen()">Prev</span>
        <a href="javascript:void(0)" class="legend" (click)="showProperties()">Properties</a>
            <div class="floorplan">
                <header class="floorplan__header">
                    <div class="floorplan__top">
                        <div class="pull-left">
                            <span class="frame__next glyphicon glyphicon-triangle-right"></span>
                        </div>
                        <div class="pull-right">
                            <span class="floorplan__icon-text">Filter</span>
                        </div>
                    </div>
                    <div class="floorplan__name">
                       SERVICE ORDER
                    </div>
                    <div class="floorplan__header-content">
                            <!--<div class="floorplan__header-logo">
        
                            </div>-->
                            <div class="floorplan__header-desc">
                                <span class="floorplan__header-name">
                                    Purchasing Doc: 45645645
                                </span>
                                <span class="floorplan__header-name">
                                   Purchasing Org: R300
                                </span>
                                <span class="floorplan__header-name">
                                    Vendor: 
                                </span>
                                <!--<div class="floorplan__header-details">
                                    <span class="floorplan__header-details-text">
                                        Document date: March 18, 2017
                                    </span>
                                    <span class="floorplan__header-details-text">
                                        Outstanding PO Value: 60,000 CAD
                                    </span>
                                </div>-->
                            </div>
                       </div>
                    </header>
            </div>
        </div>
