<div class="frame">
        <span class="frame__prev glyphicon glyphicon-triangle-right" (click)="gotToNextScreen()">Next</span>
        <span class="frame__next glyphicon glyphicon-triangle-left" (click)="gotToPreviousScreen()">Prev</span>
        <a href="javascript:void(0)" class="legend" (click)="showProperties()">Properties</a>
            <div class="floorplan">
                <header class="floorplan__header">
                    <div class="floorplan__top">
                        <div class="pull-left">
                            <span class="floorplan__icon-text">Done</span>
                        </div>
                        <div class="pull-right">
                            <span class="floorplan__icon-text">Filter</span>
                        </div>
                    </div>
                    <div class="floorplan__name">
                       Enter Services
                    </div>
                    <br>
                    <div class="align-content:center;">
                            <div class="floorplan__header-details-text">
                                <span style="font-size: 13px;color:#dddddd">                               
                        <p>Enter from unplanned service items</p>
                            </span>
                        </div>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-default active">Contracts</button>
                                          </div>
                                          <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-default">Master</button>
                                          </div>
                                          <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-default">Ad-Hoc</button>
                                          </div>
                                          <div class="btn-group  btn-group-xs" role="group">
                                                <button type="button" class="btn btn-default">Templates</button>
                                              </div>
                                        </div>
                    </div>
                    
                </header>
                <div class="floorplan__search-bar floorplan__margintop-0">
                    <input type="text" class="floorplan__search-input" placeholder="Search/scan" />
                    <span class="icon-Scan2 floorplan__icon-Scan2"></span>
                </div>
                <ul class="floorplan__list-container">
                <li class="floorplan__list-item no-padding">
                        <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-11 app-designer__no-padding">     
                           
                                <h4 class="floorplan__body-heading">Vendor : GNA Constructions</h4>
                                <p class="floorplan__body-text-1" >Contract No : 99001</p>
                                <p class="floorplan__body-text-2" >Agreement Date: Jan 21, 2017</p>
                        <!--<div class="row">
                           <div class="col-md-12">
                                <div class="col-md-12 app-designer__no-padding">
                                    <h4 class="floorplan__body-heading" id="purchasingDocVal">{{purchasingDoc.value}} 4500004876</h4>
                                    <h4 class="floorplan__body-heading" id="purchasingOrgVal">{{purchasingOrg.value}} R300</h4>
                                    <p class="floorplan__body-text-1" id="purchasingVendorVal">{{vendor.value }} </p>
                                </div>
                            </div>
                        </div>-->
                    
               
            </div>
            <div class="col-md-offset-11">
            <div class="container-fluid">
                    <div class="floorplan__body-text-2" ><div class="pull right"><span class="glyphicon glyphicon-menu-right" (click)="showEntries()"></span></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </li>
     
                    
                    <li class="floorplan__list-item no-padding">
                            <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-11 app-designer__no-padding">     
                               <div class="pull left">
                <h4 class="floorplan__body-heading">Vendor : GNA Constructions</h4>
                <p class="floorplan__body-text-1" >Contract No : 87098</p>
                <p class="floorplan__body-text-2" >Agreement Date: Nov 9, 2016</p>
                
                <!--<div class="row">
                   <div class="col-md-12">
                        <div class="col-md-12 app-designer__no-padding">
                            <h4 class="floorplan__body-heading" id="purchasingDocVal">{{purchasingDoc.value}} 4500004876</h4>
                            <h4 class="floorplan__body-heading" id="purchasingOrgVal">{{purchasingOrg.value}} R300</h4>
                            <p class="floorplan__body-text-1" id="purchasingVendorVal">{{vendor.value }} </p>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col-12 col-md-auto"></div>
        <div class="col-md-offset-11">
                <div class="container-fluid">
                        <div class="floorplan__body-text-2" >
                            <span class="glyphicon glyphicon-menu-right" (click)="showEntries()"></span>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    
    </li>

</ul>
       
<div class="fp7_footer">
    <p><b>Review(0)</b></p>
</div>

            </div>
      