/************************* FONTS CSS START IMPORTANT - Do not delete or change *********************/

@font-face {
    font-family: 'SFUIText-Semibold';
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Semibold.eot?ed1wcy');
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Semibold.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Semibold.woff2?ed1wcy') format('woff2'),
      url('assets/vendor/fonts/body/SFUIDisplay-Semibold.ttf?ed1wcy') format('truetype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Semibold.woff?ed1wcy') format('woff'),
      url('assets/vendor/fonts/body/SFUIDisplay-Semibold.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFUIText-Regular';
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Regular.eot?ed1wcy');
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Regular.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Regular.woff2?ed1wcy') format('woff2'),
      url('assets/vendor/fonts/body/SFUIDisplay-Regular.ttf?ed1wcy') format('truetype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Regular.woff?ed1wcy') format('woff'),
      url('assets/vendor/fonts/body/SFUIDisplay-Regular.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'SFUIDisplay-Thin';
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Thin.eot?ed1wcy');
    src:  url('assets/vendor/fonts/body/SFUIDisplay-Thin.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Thin.woff2?ed1wcy') format('woff2'),
      url('assets/vendor/fonts/body/SFUIDisplay-Thin.ttf?ed1wcy') format('truetype'),
      url('assets/vendor/fonts/body/SFUIDisplay-Thin.woff?ed1wcy') format('woff'),
      url('assets/vendor/fonts/body/SFUIDisplay-Thin.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  

/************************* FONTS CSS END *********************/
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
.nopadding{
    padding: 0 !important;
}

.wrapper {
    padding-left: 45px;
    transition: all .4s ease 0s;
    height: 100%;
}

.wrapper.active {
    padding-left: 220px;
}
.wrapper.active .sidebar-wrapper {
    left: 220px;
}

@media (max-width:767px) {
    .wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
.sidebar-wrapper {
    left: 70px;
}
.wrapper.active {
    padding-left: 220px;
}
.wrapper.active .sidebar-wrapper {
    left: 220px;
    width: 220px;
    transition: all .4s ease 0s;
}
}
.full-width{
    max-width: 100%;
}
.apps{
    background: #fff;
    padding: 10px;
    box-shadow: 0px 2px 10px #ccc;
}
.apps__list{
    padding: 20px 0 0;
}
.apps__list-item{
    border-top: solid 1px #ccc;
    padding: 10px 0;
}
.apps__list::after{
    clear: both;
}
.tabs__buttons{
    position: fixed;
    width: 30%;
    height: 40px;
    background: #fff;
    z-index: 11;
    margin: -10px -10px 0px -13px;
    padding: 5px 15px 5px 5px;
    box-shadow: 0px 8px 4px -5px #ccc;
}
.tabs__close-icon{
    padding-top: 7px;
    font-size: 18px;
}
/****** form classes *****/

.tabs__properties{
    position: fixed;
    top: 90px;
    right: 0;
    width: 29.2%;
    z-index: 12;
    background: #fff;
    padding: 10px;
    height: calc( 100% - 120px );
    overflow: auto;
}

.frame{
    border: solid 2px #bd8d1b;
    position: relative;
    height: 100%;
}
.frame__next, .frame__prev{
    color: #fff;
    position: absolute;
    z-index: 10;
    font-size: 9px;
    transform: translate(0, -18px);
    background: #bd8d1b;
    padding: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 3px 5px;
    
}
.frame__prev{
    right: -2px;
}
.frame__next{
    left: -2px;
}
.legend{
    position: absolute;
    font-size: 9px;
    color: #fff;
    background: #bd8d1b;
    padding: 3px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    left: 50%;
    transform: translate(-50%, -18px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.legend:hover{
    text-decoration: none;
}
.legend:focus{
    background: #e6930b;
    text-decoration: none;
}
.legend:hover .frame{
    border: solid 2px #e6930b;
}

.color-input input{
            padding: 0;
    width: 25px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
        
    }
    
    .formHelp{
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 400;
        color: #888;
    }
    .mat-input-placeholder-wrapper{
        position: relative !important;
  }
// .leftpane, .rightpane{
//     height: 75vw;
//     overflow-x: auto;
//     padding: 10px;
//     background: #ddd;
//     border-right: solid 1px #ccc;
// }
// .rightpane{
//     position: absolute;
//     right: 0;
//     border-right: 0;
//     border-left: solid 1px #ccc;
//     background: #222;
    
// }
.rightpane label{
    color: #fff;
    font-weight: normal;
}
.rightpane .form-control{
    background: #222;
    border: solid 1px #333;
    border-radius: 0;
    color: #888;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
}
.rightpane .form-control:focus{
    background: #333;
}

.leftpane__items{
    margin: 0;
    padding: 0;
}
.leftpane__item{
    list-style: none;
    border-bottom: solid 1px #ccc;
}
.leftpane__item-link{
    font-size: 13px;
    color: #999;display: block;
    padding: 5px;
    
}
.leftpane__item-link:hover{
    text-decoration: none;
    color: #000;
    background: #f5f5f5;

}

.area{
    padding-top: 50px;
}
.navbar{
    margin: 0;
    border: 0;
    border-radius: 0;
}

