<app-designer-header></app-designer-header>

<split direction="horizontal">
  <split-area [size]="20">
    <div class="leftpane">
      <app-leftpane></app-leftpane>
    </div>
  </split-area>
  <split-area [size]="50">
    <div class="device-area">
      <div class="device-area__full-screen-container" [class.active]="isFullScreenActive">

        <!--top bar-->
        <div class="device-area__topbar">
          <div class="row">
            <div class="col-md-5">
              <select #device class="form-control" (change)="changeDevice(device.value)">
                    <option value="iphone">Iphone</option>
                    <option value="android">Android</option>
                    <option value="ipad">Ipad</option>
                    <option value="android-tab">Android Tab</option>
                  </select>
            </div>
            <span class="device-area__rotate-icon" (click)="rotateScreen(device.value)" [hidden]="!sh.showhide.show"></span>
            <div class="col-md-4 pull-right text-right" [hidden]="sh.showhide.show">
              <button class="btn btn-success" (click)="downloadJSON()">Save</button>
              <button class="btn btn-default">Preview</button>
            </div>
          </div>
        </div>
        <!--top bar-->
        <span [class.glyphicon-resize-small]="sh.showhide.show" href="#" class="device-area__full-screen-button glyphicon glyphicon-resize-full"
          (click)=fullScreen()></span>

        <div class="device-area__all device-area__{{device.value}} device-area__{{device.value}}--{{rotate}}" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
          <div class="device-area__dragged-items">
            <div *ngFor="let data of receivedData; let x = index">
              <div class="form-group form-comp" #element (click)="ShowProperties(data.dragData[0].schema, element)" dnd-sortable [sortableIndex]="x"
                [dragEnabled]="!dragOperation" [dragData]="data" [dragData]="source">
                <!-- {{receivedData | json}} -->
                <div *ngIf="data.dragData[0].type=='text'">
                  <label>{{comp1Title.value}}</label>
                  <!-- <span class="glyphicon glyphicon-remove pull-right" (click)="removeDraggedData()"></span> -->
                  <input [ngStyle]="{'background-color': comp1BgColor.value, 'color': comp1TextColor.value}" type="text" class="form-control" placeholder="{{comp1Placeholder.value}}"  />
                </div>

                <div *ngIf="data.dragData[0].type=='select'">
                  <label>{{comp2Title.value}}</label>
                  <select [ngStyle]="{'background-color': comp2BgColor.value, 'color': comp2TextColor.value}" class="form-control"></select>
                </div>

                 <div *ngIf="data.dragData[0].type=='date'">
                   <label>{{comp3Title.value}}</label>
                  <input [ngStyle]="{'background-color': comp3BgColor.value, 'color': comp3TextColor.value}" type="text" class="form-control" onBlur="(this.type='text')" onfocus="(this.type='date')" placeholder="{{comp3Placeholder.value}}"  /> 
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </split-area>
  <split-area [size]="30">
    <!-- <app-tabs></app-tabs> -->

    <div class="tabs">
      <ul class="tabs__container">
        <li class="tabs__item">
          <a class="tabs__item-link" href="#tab1default" data-toggle="tab">All</a>
        </li>
        <li class="tabs__item"><a class="tabs__item-link" href="#tab2default" data-toggle="tab">Floorplans</a>
        </li>
        <li class="tabs__item"><a class="tabs__item-link" href="#tab3default" data-toggle="tab">Frameworks</a>
        </li>
        <li class="tabs__item"><a class="tabs__item-link" href="#tab4default" data-toggle="tab">Views</a>
        </li>
        <li class="tabs__item active"><a class="active tabs__item-link" href="#tab5default" data-toggle="tab">Field Types</a>
        </li>
        <li class="tabs__item"><a class="tabs__item-link" href="#tab6default" data-toggle="tab">Controls</a></li>
      </ul>
      <div class="tabs__body tab-content">
        <div class="tab-pane fade" id="tab1default">All Content here</div>
        <div class="tab-pane fade" id="tab2default">Floorplans content here</div>
        <div class="tab-pane fade" id="tab3default">Frameworks content here</div>
        <div class="tab-pane fade" id="tab4default">Views content here</div>
        <div class="tab-pane fade in active" id="tab5default">
          <ul class="tabs__content-items">
            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/01-Text-Input.png" dnd-draggable [dragData]="textComponent" class="tabs__content-item-img"
                alt="Text Input" />
                <span class="tabs__content-item-name">Text Input</span>


              <div class="tabs__properties {{textComponent[0].schema}}">

                  <form #component1Form="ngForm" (ngSubmit)="addTextProperties(component1Form)">
                  
                  <div class="tabs__buttons">
                  <button class="btn btn-primary btn-sm" type="submit" (click)="ShowHidePanel(textComponent[0].schema)">Done</button>
                  <!-- <button type="button" class="btn btn-default btn-sm" (click)="ShowHidePanel(textComponent[0].schema)">Close</button> -->
                  <span class="pull-right tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(textComponent[0].schema)"></span>                  
                </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="title">Title</label>
                     <input type="text" value="Text Field" class="form-control" name="title" #comp1Title [ngModel]="comp1Title.value" /> 
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="fieldName">Field Name</label>
                    <textarea class="form-control" name="fieldName" #comp1FieldName [ngModel]="comp1FieldName.value"></textarea>
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="placeholder">Place holder</label>
                    <input type="text" value="Placeholder" class="form-control" name="placeholder" #comp1Placeholder [ngModel]="comp1Placeholder.value">
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="instructionText">Instruction Text</label>
                    <input type="text" class="form-control" name="instructionText" #comp1InstructionText [ngModel]="comp1InstructionText.value">
                  </div>

                   <div class="form-group">
                    <label class="tabs__form-label" for="bgColor">Background color</label>
                    <input type="color" value="#ffffff" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="bgColor" #comp1BgColor [ngModel]="comp1BgColor.value">
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="textColor">Text color</label>
                    <input type="color" value="#000000" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="textColor" #comp1TextColor [ngModel]="comp1TextColor.value">
                  </div>

                  <div class="form-group">
                    <input type="checkbox" name="required" #comp1Required [ngModel]="false">
                    <label class="tabs__form-label" for="required">Required</label>
                  </div>

                  <div class="form-group">
                    <input type="checkbox" name="speechToText" checked="" #comp1SpeechToText [ngModel]="false">
                    <label class="tabs__form-label" for="required">Speech to text</label>
                  </div>
                  
                </form>

              </div>
            
            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable [dragData]="selectComponent" class="tabs__content-item-img"
                alt="Selectbox" />
              <span class="tabs__content-item-name">Select</span>

              <div class="tabs__properties {{selectComponent[0].schema}}">

                <!-- <span class="tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(selectComponent[0].schema, 'buttonSelect')"></span> -->

                <form #component2Form="ngForm" (ngSubmit)="addSelectProperties(component2Form)">
                  
                  <div class="tabs__buttons">
                    <button class="btn btn-primary btn-sm" type="submit" (click)="ShowHidePanel(selectComponent[0].schema)">Done</button>
                    <!-- <button type="button" class="btn btn-default btn-sm" (click)="ShowHidePanel(selectComponent[0].schema)">Close</button> -->
                    <span class="pull-right tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(selectComponent[0].schema)"></span>                  
                    
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="title">Title</label>
                    <input type="text" value="Dropdown name" class="form-control" name="title" #comp2Title [ngModel]="comp2Title.value">
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="fieldName">Field Name</label>
                    <textarea class="form-control" name="fieldName" #comp2FieldName [ngModel]="comp2FieldName.value"></textarea>
                  </div>

                  <!-- <div class="form-group">
                    <label class="tabs__form-label" for="placeholder">Place holder</label>
                    <input type="text" class="form-control" name="placeholder" #comp2Placeholder [ngModel]="comp2Placeholder.value">
                  </div> -->
                  
                  <div class="form-group">
                    <label class="tabs__form-label"  for="instructionText">Instruction Text</label>
                    <input type="text" class="form-control" name="instructionText" #comp2InstructionText [ngModel]="comp2InstructionText.value">
                  </div>
                  
                   <div class="form-group">
                    <input type="checkbox" name="required" #comp2Required [ngModel]="false">
                    <label class="tabs__form-label" for="required">Required</label>
                  </div>

                   <div class="form-group">
                    <label class="tabs__form-label" for="dataType">Multiple selection</label>
                    <select class="form-control" name="multipleSelection" [ngModel]="comp2MultipleSelection.value" #comp2MultipleSelection>
                      <option selected>Single</option>
                      <option>Multiple</option>
                    </select>
                  </div>

                   <div class="form-group">
                    <input type="radio" name="filling" #comp2Filling [ngModel]="filling" value="manualFill">
                    <label class="tabs__form-label" for="manualFilling">Manual Filling</label>
                  </div>

                   <div class="form-group">
                    <input type="radio" name="filling" #comp2Filling [ngModel]="filling" value="preFill">
                    <label class="tabs__form-label" for="preFill">Pre fill from data source</label>
                  </div>
                  
                  <div class="form-group">
                    <label class="tabs__form-label" for="choicesPerLine">Choices (one per line)</label>
                    <select class="form-control" name="choicesPerLine" [ngModel]="comp2ChoicesPerLine.value" #comp2ChoicesPerLine>
                      <option selected>option 1</option>
                      <option>option 2</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="bgColor">Background color</label>
                    <input type="color" value="#ffffff" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="bgColor" #comp2BgColor [ngModel]="comp2BgColor.value">
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="textColor">Text color</label>
                    <input type="color" value="#000000" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="textColor" #comp2TextColor [ngModel]="comp2TextColor.value">
                  </div>

                  <div class="form-group">
                    <input type="checkbox" name="allowAddingOptions" #comp2allowAddingOptions [ngModel]="false">
                    <label class="tabs__form-label" for="allowAddingOptions">Allow adding user's options</label>
                  </div>
                  
                </form>
              </div>

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/02-Numeric-Input.png" dnd-draggable [dragData]="" class="tabs__content-item-img"
                alt="Numeric Input" />
              <span class="tabs__content-item-name">Numeric Inpput</span>
              <!--- form here -->
            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/03-Date.png" dnd-draggable [dragData]="dateComponent" class="tabs__content-item-img" alt="Date Input"
              />
              <span class="tabs__content-item-name">Date</span>

              <div class="tabs__properties {{dateComponent[0].schema}}">

                 <form #component3Form="ngForm" (ngSubmit)="addDateProperties(component3Form)">

                    <div class="tabs__buttons">
                    <button class="btn btn-primary" type="submit" (click)="ShowHidePanel(dateComponent[0].schema)">Done</button>
                    <!-- <button type="button" class="btn btn-default" (click)="ShowHidePanel(dateComponent[0].schema)">Close</button> -->
                    <span class="pull-right tabs__close-icon glyphicon glyphicon-remove-circle" (click)="ShowHidePanel(dateComponent[0].schema)"></span>                  
                    
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="title">Title</label>
                     <input type="text" value="Date / Time" class="form-control" name="title" #comp3Title [ngModel]="comp3Title.value" /> 
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="fieldName">Field Name</label>
                    <input type="text" value="Date / Time" class="form-control" name="fieldName" #comp3FieldName [ngModel]="comp3FieldName.value" /> 
                  </div>

                  <div class="form-group">
                    
                    <label class="tabs__form-label" for="placeholder">Place holder</label>
                    <input type="text" value="Date / Time" class="form-control" name="placeholder" #comp3Placeholder [ngModel]="comp3Placeholder.value">
                  </div>

                  <div class="form-group">
                    <input type="checkbox" name="required" #comp3Required [ngModel]="false">
                    <label class="tabs__form-label" for="required">Required</label>
                  </div>

                   <div class="form-group">
                    <label class="tabs__form-label" for="format">Format</label>
                    <select class="form-control" name="format" [ngModel]="comp3Format.value" #comp3Format>
                      <option selected>Date</option>
                      <option>Time</option>
                      <option>Datetime</option>
                    </select>
                  </div>
                  
                   <div class="form-group">
                    <label class="tabs__form-label" for="bgColor">Background color</label>
                    <input type="color" value="#ffffff" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="bgColor" #comp3BgColor [ngModel]="comp3BgColor.value">
                  </div>

                  <div class="form-group">
                    <label class="tabs__form-label" for="textColor">Text color</label>
                    <input type="color" value="#000000" class="form-control input-sm" style="width: 50px; padding: 0; border: 0; border-radius: 0; box-shadow: none;" name="textColor" #comp3TextColor [ngModel]="comp3TextColor.value">
                  </div>

                   <div class="form-group">
                    <input type="checkbox" name="currentDatetimeDefault" #comp3CurrentDatetimeDefault [ngModel]="false">
                    <label class="tabs__form-label" for="currentDatetimeDefault">Use Current Datetime as Default</label>
                  </div>

                   <div class="form-group">
                    <input type="checkbox" name="readOnly" #comp3ReadOnly [ngModel]="false">
                    <label class="tabs__form-label" for="readOnly">Read Only</label>
                  </div>

                   <div class="form-group">
                    <input type="checkbox" name="hidden" #comp3Hidden [ngModel]="false">
                    <label class="tabs__form-label" for="hidden">Required</label>
                  </div>
                             
                </form>
              </div>

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/04-Switch.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Switch</span>
              <!--- form here -->
              
            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/06-Input-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Input drop down</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/07-Multi-Value-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Multi Value Drop Down</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/09-Attachments.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Attachments</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/08-Slider.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Slider</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Select</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/10-Long-Input.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Long Input</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/11-Input-or-Scan.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Input or Scan</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/12-Scan.png" dnd-draggable  class="tabs__content-item-img" alt="Text Input"
              />
              <span class="tabs__content-item-name">Scan</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/13-Check-Box.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Check Box</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/14-Signature.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Signature</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/15-Display-interactive.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Display interactive</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/16-Display.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Display</span>

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/05-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Select</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/17-Drop-Down-Range.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Drop Down Range</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/18-Date-Range.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Date Range</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/19-Text-Range.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Text Range</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/20-Numeric-Range.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Numeric Range</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/21-Input-Drop-Down-Range.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Input Drop Down Range</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/22-Scan-Input-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Scan Input Drop Down</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/23-Long-Text-Display.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Long Text Display</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/24-Time-Select.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Time Select</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/25-Time-Display.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Time Display</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/26-Numeric-Input-Drop-Down.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Numeric Input Drop Down</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/27-Geo-Location-Address-Display.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Geo Location Address Display</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/28-Geo-Location-Coordinates-Display.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Geo Location Coordinates Display</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/29-Geo-Location-Address-Input.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Geo Location Address Input</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/30-Geo-Location-Coordinate-Input.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Geo Location Coordinate Input</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/31-Input-Drop-Down-Multi-Value.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Input Drop Down Multi Value</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/32-Numeric-Input-Drop-Down-Multi-Value.png" dnd-draggable 
                class="tabs__content-item-img" alt="Text Input" />
              <span class="tabs__content-item-name">Numeric Input Drop Down Multi Value</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/33-Numeric-Field-Multi-Value.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Numeric Field Multi Value</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/34-Image-Capture.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Image Capture</span>
              <!--- form here -->

            </li>

            <li class="tabs__content-item">
              <img src="../../assets/img/field-types/35-Video-Recording.png" dnd-draggable  class="tabs__content-item-img"
                alt="Text Input" />
              <span class="tabs__content-item-name">Video Recording</span>
              <!--- form here -->

            </li>
          </ul>

        </div>
        <div class="tab-pane fade" id="tab6default">Controls content here
        </div>
      </div>
    </div>


  </split-area>
</split>
<app-designer-footer></app-designer-footer>
