:host(app-devicepage) {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
}
.device-area{
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    position: relative;

    &__topbar{
        background: #fff;
        padding: 10px 5px;
        border-bottom: solid 1px #ccc;
    }

    &__rotate-icon{
        background: url("../../../assets/img/rotate.png") no-repeat 0 0 / 100% 100%;
        width: 22px;
        height: 22px;
        float: left;
        margin-top: 5px;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:  transform .3s ease-in-out;
        cursor: pointer;

        &:hover{
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &__all{
        margin: 5px auto;
        overflow: auto;
        border-radius: 10px;
        height: calc( 90vh - 55px ); /* removed top bar height, subject to change*/ 
        transition: transform 0.2s ease;
        padding: 63px 25px 83px 25px;

        label{
            font-weight: 400;
            font-size: 12px;
        }

        &.device-area__ipad{
            padding: 48px 30px 85px 35px;
        }

        &.device-area__android-tab{
            padding: 30px 30px 85px 35px;
        }
    }

    &__iphone{
        background: url("../../../assets/img/iPhone.png") no-repeat 0 0;
        width: 260px;
    }

    &__iphone--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);

         .device-area__dragged-items{
             -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
         }
    }

    &__ipad{
        background: url("../../../assets/img/iPad.png") no-repeat 0 0;
        width: 360px;
    }
    
     &__ipad--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__android{
        background: url("../../../assets/img/android-mobile.png") no-repeat 0 0;
        width: 260px;
    }

    &__android--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__android-tab{
        background: url("../../../assets/img/android-tab.png") no-repeat 0 0;
        width: 360px;
    }
    
     &__android-tab--true{
         -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
    }

    &__full-screen-container{
        
        transition: background 0.2s ease;
        
        &.active{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff;
            z-index: 13;
            
        }
        
    }
    &__full-screen-button{
        color: #888;
        font-size: 20px;
        position: absolute;
        left: 0;
        top: 65px;
        transition: font-size 0.2s ease;
        padding: 10px;
        cursor: pointer;

        &:hover{
            color: #000;
            text-decoration: none;
            font-size: 22px;
        }
    }

    &__dragged-items{
        height: 100%;
        overflow-y: scroll;

    }

    &__highlight{
        background: #fff;
        box-shadow: 0 0px 5px 0px #8c8c8c;

    }

    /*boostrap */
    .form-group{
        margin: 0 0 5px 0;
        padding: 5px;
    }

}
.tabs{
    position: relative;

    &__container{
        padding: 7px 0 0;
        margin: 0;
        position: fixed;
        width: 100%;
        z-index: 12;
        background: #e3e3e3;
        height: 40px;
    }
    &__item{
        display: inline-block;
        padding: 9px;
        font-size: 11px;
        color: #4e4e4f;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: 400;
        margin-right: -4px;

        &.active{
            background: #fff;
            font-weight: 500;
        }
    }
    &__item-link{
        color: #4e4e4f;
        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }
    
    &__body{
        padding: 5px 0 5px 5px;
        position: relative;
        top: 40px;
    }

    &__content-items{
        padding: 0;
    }
    &__content-item{
        display: inline-block;
        width: calc( 33.333% - 5px);
        margin: 0 2px 15px 0;
        border: solid 2px #EBEFF2;
        transition: all 0.1s ease-in;
        vertical-align: top;
        cursor: move;

        &:hover, &:focus{
            border: solid 2px #C9DEDF;
        }

        &:active{
            .tabs__content-item-img{
                opacity: 0.6;
            }
        }
    }
    &__content-item-img{
        max-width: 100%;
        cursor: move !important;
    }
    &__content-item-name{
        display: block;
        padding: 5px;
        font-size: 11px;
        color: #255281;
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
    }
    &__properties{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        left: 0;
        padding: 55px 10px 10px 10px;
        display: none;
    }
    &__close-icon{
        float: right;
        font-size: 22px;
        color: #ccc;
        transition: transform 0.2s ease;
        cursor: pointer;
        margin-top: 4px;

        &:hover{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: #999;
        }
    }

    &__prop-head{
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 400;
        color: #000;
    }
    &__form{
        padding: 10px 0 0 0;
    }

    &__form-label{
        font-weight: 400;
        color: #333;
        font-size: 12px;
    }

    &__buttons{
        position: fixed;
        width: 30%;
        height: 40px;
        background: #fff;
        z-index: 11;
        margin: -55px -10px -10px -10px;
        padding: 5px 15px 5px 5px;
        box-shadow: 0px 8px 4px -5px #ccc;
    }
}